<p class="field-intro">{{ c.intro }}</p>
<div class="life-areas">
    <div><h4>{{ t.section_love }}</h4><p>{{ c.love }}</p></div>
    <div><h4>{{ t.section_career }}</h4><p>{{ c.career }}</p></div>
    <div><h4>{{ t.section_money }}</h4><p>{{ c.money }}</p></div>
    <div><h4>{{ t.section_health }}</h4><p>{{ c.health }}</p></div>
    <div><h4>{{ t.section_family }}</h4><p>{{ c.family }}</p></div>
</div>
<div class="field-block">
    <h4>{{ t.section_symbols }}</h4>
    <p class="pre">{{ c.symbols }}</p>
</div>
<div class="field-block">
    <h4>{{ t.section_questions }}</h4>
    <p class="pre">{{ c.questions }}</p>
</div>
<div class="field-block">
    <h4>{{ t.section_weekly }}</h4>
    <p>{{ c.weekly }}</p>
</div>
<div class="field-block hidden-msg">
    <h4>{{ t.section_hidden }}</h4>
    <p>{{ c.hidden }}</p>
</div>
